@font-face {
    font-family: NeonFontTitle;
    src: url('@/assets/fonts/hellodenverdisplay.ttf');
}
@font-face {
    font-family: NeonFontButtons;
    src: url('@/assets/fonts/Monoton-Regular.ttf');
}
@font-face {
    font-family: NeonFontButtons2;
    src: url('@/assets/fonts/Sportrop.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    color: white;
    font-size: 16px;
}
body {
    height: 100%;
    width: 100%;
    cursor: pointer;
}
